<html>
<head>
    <title>Chicago Bike Trips</title>

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/map.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/trips.css') }}">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css">
    <link rel="stylesheet" href="{{ asset('assets/css/leaflet.markercluster.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/leaflet.layercontrol.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/calendar.css') }}">

    <style>
        p {
            margin: 50px;
        }

        a {
            color: #4FDEF2;
        }

        .axis {
            fill: gray;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        .axis .halo {
            stroke: gray;
            stroke-width: 4px;
            stroke-linecap: round;
        }

        .slider .handle path {
            stroke: darkgray;
            stroke-width: 3px;
            stroke-linecap: round;
            pointer-events: none;
        }

        .slider .handle text {
            text-align: center;
            font-size: 18px;
            margin-left: -14px;
        }

        .clearfix:after {
            content: ".";
            clear: both;
            display: block;
            visibility: hidden;
            height: 0px;
        }

        #calendar .tooltip-inner {
            max-width: 150px;
            /* If max-width does not work, try using width instead */
            width: 150px;

            max-height:50px;
            height:50px;
        }

        .tooltip-arrow {
            display:none;
        }

        #histogram .tooltip-inner {
            max-width: 250px;
            /* If max-width does not work, try using width instead */
            width: 250px;

            max-height:75px;
            height:75px;
        }

        #histogram {
            margin-top: 70px;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ asset('assets/js/libraries/loadingoverlay.min.js') }}"></script>

    <script src="{{ asset('assets/js/libraries/telegraph.min.js') }}"></script>
    <script src="{{ asset('assets/js/libraries/leaflet.min.js') }}"></script>
    <script src="{{ asset('assets/js/libraries/leaflet.layercontrol.js') }}"></script>
    <script src="{{ asset('assets/js/libraries/leaflet.heat.js') }}"></script>
    <script src="{{ asset('assets/js/libraries/leaflet.markercluster.js') }}"></script>
    <script src="{{ asset('assets/js/libraries/leaflet.PolylineDecorator.min.js') }}"></script>
    <script src="{{ asset('assets/js/libraries/d3.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('assets/js/libraries/spin.min.js') }}"></script>
    <script src="{{ asset('assets/js/libraries/plotly.min.js') }}"></script>
    <script src="{{ asset('assets/js/libraries/chroma.min.js') }}"></script>
</head>

<body>
<div class="col-xs-12">
    <h1>Bike Trips in Chicago</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#map-tab" aria-controls="map-tab" role="tab"
                                                              data-toggle="tab">Map</a></li>
                    <li role="presentation"><a href="#trips-tab" aria-controls="trips-tab" role="tab" data-toggle="tab">Trips
                            per Day</a></li>
                    <li role="presentation"><a href="#stats-tab" aria-controls="stats-tab" role="tab" data-toggle="tab">Average
                            duration</a></li>
                    <li role="presentation"><a href="#pie-tab" aria-controls="pie-tab" role="tab" data-toggle="tab">Round
                            trips</a></li>
                    <li role="presentation"><a href="#relocation-tab" aria-controls="relocation-tab" role="tab"
                                               data-toggle="tab">Relocations</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="map-tab">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-8">
                                    <div id="map_container">
                                        <div id="map"></div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div id="histogram_container">
                                        <div id="histogram"></div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div id="calendar_container">
                                        <div id="calendar">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="trips-tab">
                        <h2>Trips per day</h2>
                        <div id="trips-container">
                            <svg id="trips-per-day" width="1000" height="300"></svg>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="stats-tab">
                        <h2>Average Trip Duration</h2>
                        <div id="stats-container">
                            <svg id="stats" width="1000" height="300"></svg>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="pie-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h2>Round Trip Percentage</h2>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div id="customer_pie"></div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div id="subscriber_pie"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="relocation-tab">
                        <h2>Bike relocations</h2>
                        <div>
                            <button type="button" id="relocation_from_button">From stations</button>
                            <button type="button" id="relocation_to_button">To stations</button>
                        </div>
                        <div id="relocation_data_container">
                            <div id="relocation_from">
                                <h3>Top source stations</h3>
                                <p>Stations with top amounts of bikes picked up for transport to another station.</p>
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Station</th>
                                        <th>Relocated from</th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div id="relocation_to">
                                <h3>Top destination stations</h3>
                                <p>Stations with top amounts of bikes delivered to.</p>
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Station</th>
                                        <th>Relocated to</th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div id="relocation_route"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('assets/js/controllers/color.controller.js') }}"></script>
<script src="{{ asset('assets/js/controllers/overlay.controller.js') }}"></script>
<script src="{{ asset('assets/js/controllers/data.controller.js') }}"></script>
<script src="{{ asset('assets/js/controllers/range.controller.js') }}"></script>
<script src="{{ asset('assets/js/controllers/map.controller.js') }}"></script>
<script src="{{ asset('assets/js/controllers/calendar.controller.js') }}"></script>
<script src="{{ asset('assets/js/controllers/trips.controller.js') }}"></script>
<!--<script src="{{ asset('assets/js/controllers/slider.controller.js') }}"></script>-->
<script src="{{ asset('assets/js/controllers/stats.controller.js') }}"></script>
<script src="{{ asset('assets/js/controllers/relocation_controller.js') }}"></script>
<script src="{{ asset('assets/js/controllers/histogram.controller.js') }}"></script>
</body>
</html>
