<html>
    <head>
        <title>Chicago Bike Trips</title>

        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/map.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/trips.css') }}">
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css">
        <link rel="stylesheet" href="{{ asset('assets/css/leaflet.markercluster.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/leaflet.layercontrol.css') }}">

        <style>
            p {
                margin: 50px;
            }

            a {
                color: #4FDEF2;
            }

            .axis {
                fill: gray;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            .axis .halo {
                stroke: gray;
                stroke-width: 4px;
                stroke-linecap: round;
            }

            .slider .handle path {
                stroke: darkgray;
                stroke-width: 3px;
                stroke-linecap: round;
                pointer-events: none;
            }

            .slider .handle text {
                text-align: center;
                font-size: 18px;
                margin-left: -14px;
            }

            .clearfix:after {
                content: ".";
                clear: both;
                display: block;
                visibility: hidden;
                height: 0px;
            }
        </style>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>

        <script src="{{ asset('assets/js/telegraph.min.js') }}"></script>
        <script src="{{ asset('assets/js/leaflet.min.js') }}"></script>
        <script src="{{ asset('assets/js/leaflet.layercontrol.js') }}"></script>
        <script src="{{ asset('assets/js/leaflet.heat.js') }}"></script>
        <script src="{{ asset('assets/js/leaflet.markercluster.js') }}"></script>
        <script src="{{ asset('assets/js/d3.min.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script src="{{ asset('assets/js/spin.min.js') }}"></script>
        <script src="{{ asset('assets/js/plotly.min.js') }}"></script>
    </head>

    <body>
        <h1>Bike Trips in Chicago</h1>
        <div id="map_container">
            <div id="map"> </div>
        </div>

        <div id="slider-container">
            <div id="slider"></div>
        </div>

        <h2>Trips per day</h2>
        <div id="trips-container">
            <svg id="trips-per-day" width="1000" height="300"></svg>
        </div>

        <h2>Average Trip Duration</h2>
        <div id="stats-container">
            <svg id="stats" width="1000" height="300"></svg>
        </div>

        <h2>Round Trip Percentage</h2>
        <div id="pie-container" style="width:100%;" class="clearfix">
            <div id="customer_pie" style="float:left"></div>
            <div id="subscriber_pie" style="float:right"></div>
        </div>

        <h2>Bike relocations</h2>
        <div>
            <button type="button" id="relocation_from_button">From stations</button>
            <button type="button" id="relocation_to_button">To stations</button>
        </div>
        <div id="relocation_data_container">
            <div id="relocation_from">
                <h3>Top source stations</h3>
                <p>Stations with top amounts of bikes picked up for transport to another station.</p>
                <table>
                    <thead>
                    <tr>
                        <th>Station</th>
                        <th>Relocated from</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div id="relocation_to">
                <h3>Top destination stations</h3>
                <p>Stations with top amounts of bikes delivered to.</p>
                <table>
                    <thead>
                    <tr>
                        <th>Station</th>
                        <th>Relocated to</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div id="relocation_route"></div>
        </div>

        <script src="{{ asset('assets/js/data.controller.js') }}"></script>
        <script src="{{ asset('assets/js/map.controller.js') }}"></script>
        <script src="{{ asset('assets/js/trips.controller.js') }}"></script>
        <script src="{{ asset('assets/js/slider.controller.js') }}"></script>
        <script src="{{ asset('assets/js/stats.controller.js') }}"></script>
        <script src="{{ asset('assets/js/relocation_controller.js') }}"></script>
    </body>
</html>
